body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.box {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition: background;
  /*transition: background, border-radius;*/
  /*transition: background .2s, border-radius 1s;*/
  /*transition: background .2s linear, border-radius 4s ease-in 1s;*/
  width: 95px;
}

.box:hover {
  background: #ff7b29
}

/*.box:hover {
  background: #ff7b29;
  border-radius: 50%;
}*/

button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}